<div class="w-screen h-screen flex justify-center items-center">
  <div class="flex flex-col gap-10 items-center">
    <fa-icon [icon]="githubIcon" size="5x" class="text-primary"></fa-icon>
    <form [formGroup]="searchGithubForm" (keydown)="keyDown($event)" class="w-96 form-control">
      <input
        type="text"
        [placeholder]="showError ? 'Could Not Find That User' : 'Search for a github profile'"
        [class]="showError ? 'input input-bordered input-error' : 'input input-bordered input-primary'"
        formControlName="username"
      />
    </form>
  </div>
</div>